################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.SChainIntro-MVC/.idea/.gitignore
*.vsidx
/.vs/SChainIntro-MVC/FileContentIndex/b963c783-aba2-45d5-96f7-7d4ff97db037.vsidx
