* {
    padding: 0px auto;
    margin: 0px auto;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
  margin-bottom: 60px;
}

a {
    color: black;
    text-decoration: none;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.scroll-to-section {
    margin: 10px;
}

.scroll-to-section:hover {
    border-bottom: 1px solid red;
}