<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>@ViewData["Title"]</title>

        <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
        @*
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SChainIntro_MVC</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        *@

        <!-- Sub Header -->
        <div class="sub-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-sm-8">
                        <div class="left-content">
                            <p>MChJ "<em>Taminot Tizimi</em>" ning rasmiy vebsayti.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="right-icons">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                            <div class="container-fluid d-flex justify-content-between align-content-center">
                                <!-- ***** Logo Start ***** -->
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/images/schain-logo.png" alt="logo" width="200px" height="auto" />
                                </a>
                                <!-- ***** Logo End ***** -->

                                <!-- ***** Menu Start ***** -->
                                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                    <ul class="nav navbar-nav d-flex justify-content-center align-items-center">
                                        <li class="scroll-to-section">
                                            <a href="#top">Biz haqimizda</a>
                                        </li>
                                        <li class="scroll-to-section">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Videos" asp-action="Index">Xizmatlarimiz</a>
                                        </li>
                                        <li class="scroll-to-section">
                                            <a href="#contact">Aloqa</a>
                                        </li>
                                        <li class="scroll-to-section">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Videos" asp-action="Index">Video kontent</a>
                                        </li>
                                        <li class="scroll-to-section">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="Index">Postlar</a>
                                        </li>
                                        <li class="scroll-to-section">
                                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Boshqaruv</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- ***** Menu End ***** -->
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; @DateTime.Now.ToString("yyyy") - Supply Chain Consulting
            </div>
        </footer>


        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/vendor/bootstrap//js/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>